.container{
    cursor: pointer;
    display: block;
    width: 100%;
    padding: 0px 5px;
    margin: 10px 0px;
    position: relative;
    text-decoration: none;
}
.wrapper{
    padding-bottom: 7px;
    box-shadow: none;
    transition: 0.5s;
}
.wrapper:hover{
    border-radius: 5px;
    background: #353535;
    overflow: hidden;
}

.wrapper-ratingstar{
    width: 100%;
    position: absolute;
    top: -13px;
    left: 0px;
    display: flex;
    justify-content: center;
    z-index: 100;
}
.wrapper-ratingstar > div{
    width: 25px;
    height: 25px;
}

.wrapper-img{
    width: 100%;
    position: relative;
}
.wrapper-img > img{
    width: 100%;
    height: auto;
    filter: brightness(0.7);
}

.wrapper-info{
    width: 100%;
    padding: 0px 5px;
    padding-top: 4px;
    position: relative;
}
.title{
    margin-bottom: 2px;
    font-size: 0.65rem;
    font-weight: 400;
    color: #fff;
    overflow: hidden;
}
.date{
    max-height: 1rem;
    font-size: 0.65rem;
    font-weight: 400;
    color: #bebebe;
    overflow: hidden;
}


@media (max-width: 1100px){
    .wrapper-ratingstar{
        top: -10px;
    }
    .wrapper-ratingstar > div{
        width: 19px;
        height: 19px;
    }
}
@media (max-width: 780px){
    .wrapper-ratingstar{
        top: -10px;
    }
    .wrapper-ratingstar > div{
        width: 17px;
        height: 17px;
    }
}
@media (max-width: 590px){
    .wrapper-ratingstar{
        top: -8px;
    }
    .wrapper-ratingstar > div{
        width: 14px;
        height: 14px;
    }
}
@media (max-width: 440px){
    .wrapper-ratingstar{
        top: -8px;
    }
    .wrapper-ratingstar > div{
        width: 12px;
        height: 12px;
    }
}
@media (max-width: 340px){
    .wrapper-ratingstar{
        top: -8px;
    }
    .wrapper-ratingstar > div{
        width: 10px;
        height: 10px;
    }
}