.container{
    width: 60vw;
    height: 400px;
    position: relative;
    transition: 0.5s;
    background: var(--color-dark-second-background);
}
.wrapper-info{
    max-width: 50%;
    margin-left: 20px;
    position: absolute;
    left: 0px;
    bottom: 0px;
    z-index: 100;
}
.title{
    font-size: 2rem;
    font-weight: 600;
    letter-spacing: 2px;
    color: var(--color-light);
}

.wrapper-ratingstar-time-year{
    margin: 10px 0px;
    display: flex;
    align-items: center;
}
.rating-star{
    display: flex;
    align-items: center;
}
.rating-star > svg{
    width: 1.5rem;
    margin: 0px 2px;
    fill: var(--color-stars);
}