.container{
    width: 60vw;
    height: 400px;
    position: relative;
    transition: 0.5s;
    background: var(--color-dark-second-background);
}
.wrapper-info{
    max-width: 50%;
    margin-left: 20px;
    position: absolute;
    left: 0px;
    bottom: 0px;
    z-index: 100;
}
.title{
    font-size: 1.7rem;
    font-weight: 600;
    letter-spacing: 2px;
    color: var(--color-light);
}

.wrapper-ratingstar-time-year{
    margin-top: 10px;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
}
.rating-star{
    display: flex;
    align-items: center;
}

@media (max-width: 780px){
    .container{
        height: 270px;
    }
    .title{
        font-size: 1.5rem;
    }
    .wrapper-ratingstar-time-year{
        margin-top: 5px;
    }
    .rating-star div{
        width: 1.5rem;
        max-height: 1.5rem;
    }
}
@media (max-width: 560px){
    .container{
        height: 230px;
    }
    .wrapper-info{
        max-width: 70%;
    }
}
@media (max-width: 480px){
    .container{
        height: 160px;
    }
    .wrapper-info{
        max-width: 100%;
    }
    .title{
        font-size: 1.2rem;
    }
    .wrapper-ratingstar-time-year{
        margin-top: 5px;
        margin-bottom: 5px;
    }
}