.container{
    width: 100%;
    margin-top: var(--space-left);
    margin-bottom: 60px;
    position: relative;
    z-index: 400;
}
.title{
    width: 100%;
    padding-left: var(--space-left);
    padding-bottom: 20px;
}
.title > h1{
    font-family: "Bebas Neue";
    font-size: 2rem;
    font-weight: 500;
    letter-spacing: 1px;
    color: var(--color-text-title-light);
}

.set-cards{
    position: relative;
}


@media (max-width: 780px){
    .title{
        padding-bottom: 10px;
    }
}