.container,
.load-container{
    width: 100%;
    margin-top: var(--space-left);
    position: relative;
}

.wrapper-title,
.load-wrapper-title{
    width: 100%;
    padding-left: var(--space-left);
    margin-bottom: 20px;
    position: relative;
    display: flex;
    align-items: center;
}
.title{
    margin-right: 40px;
    display: flex;
    align-items: center;
}
.title > h1{
    margin-left: 15px;
    font-family: "Bebas Neue";
    font-size: 1.5rem;
    font-weight: 500;
    letter-spacing: 1px;
    color: var(--color-light);
}
.title > svg{
    width: 1.6rem;
    fill: var(--color-light);
}

.wrapper-cards{
    padding: 10px 0px;
    position: relative;
    overflow: hidden;
}

.link{
    text-decoration: none;
}



.load-wrapper-title{
    width: 100%;
    margin-bottom: 40px;
    display: flex;
    align-items: center;
}
.load-svg{
    width: 1.6rem;
    height: 1.8rem;
    border-radius: 5px;
    background: linear-gradient(90deg, var(--color-dark-third-background), transparent, var(--color-dark-third-background));
    background-size: 1000%;
    animation: slide-degradation 1.5s infinite;
}
.load-title{
    width: 200px;
    height: 1.8rem;
    margin-left: 20px;
    border-radius: 5px;
    background: linear-gradient(90deg, var(--color-dark-third-background), transparent, var(--color-dark-third-background));
    background-size: 1000%;
    animation: slide-degradation 1.5s infinite;
}

.load-wrapper-cards{
    width: 100%;
    overflow: hidden;
}
.load-wrapper-cards > div{
    position: relative;
    left: 12vw;
    display: inline-flex;
}
.load-card{
    width: 190px;
    height: 250px;
    margin: 0px 5px;
    border-radius: 10px;
    background: linear-gradient(90deg, var(--color-dark-third-background), transparent, var(--color-dark-third-background));
    background-size: 1000%;
    animation: slide-degradation 1.5s infinite;
}

@keyframes slide-degradation{
    0%{
        background-position: 0%;
    }
    100%{
        background-position: 100%;
    }
}


@media (max-width: 780px){
    .wrapper-title,
    .load-wrapper-title{
        margin-bottom: 10px;
    }
    .title > h1{
        margin-left: 12px;
    }
}
@media (max-width: 500px){
    .wrapper-title,
    .load-wrapper-title{
        margin-bottom: 5px;
    }
    .wrapper-cards{
        padding: 5px 0px;
    }
    .title > h1{
        margin-left: 8px;
    }
}
@media (max-width: 440px){
    .title{
        margin-right: 20px;
    }
    .wrapper-title,
    .load-wrapper-title{
        margin-bottom: 5px;
    }
}