.container{
    width: 100%;
    padding-top: var(--space-left);
}
#wrapper-title{
    width: auto;
    padding-left: var(--space-left);
    display: flex;
    align-items: center;
}
#wrapper-title > header{
    margin-right: 40px;
    display: flex;
    align-items: center;
}
#wrapper-title > header > svg{
    width: 1.5rem;
    max-height: 1.5rem;
    margin-bottom: 3px;
    fill: var(--color-stars);
}
#wrapper-title > header > h1{
    font-family: "Bebas Neue";
    font-size: 1.6rem;
    font-weight: 500;
    letter-spacing: 1px;
    margin-left: 10px;
    color: var(--color-light);
}

.wrapper-cards{
    width: 100%;
    padding-top: var(--space-left);
    padding-bottom: var(--space-left);
    position: relative;
    overflow-x: hidden;
}
.wrapper-cards > section{
    position: relative;
}

@media (max-width: 440px){
    .wrapper-cards{
        padding-top: 20px;
        padding-bottom: 10px;
    }
    #wrapper-title > header{
        margin-right: 20px;
    }
}