.container{
    width: 100%;
    max-width: 1400px;
    padding: 0 1rem;
    margin-top: var(--space-left);
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    flex-direction: column;
    z-index: 400;
}

.wrapper-title{
    width: 100%;
    padding-left: var(--space-left);
    margin-bottom: 20px;
    position: relative;
    display: flex;
    align-items: center;
}
.title-style-1{
    width: 100%;
}
.title-style-1 > h1{
    font-size: 2rem;
    font-weight: 500;
    letter-spacing: 1px;
    color: var(--color-text-title-light);
}
.title-style-2{
    margin-right: 40px;
    display: flex;
    align-items: center;
    gap: 10px;
}
.title-style-2 > h1{
    margin-left: 15px;
    font-size: 1.5rem;
    font-weight: 500;
    letter-spacing: 1px;
    color: var(--color-light);
}
.title-style-2 > svg{
    width: 1.6rem;
    fill: var(--color-light);
}

.trailers{
    width: 100%;
    padding: 0px 40px 0px 35px;
    position: relative;
    display: inline-flex;
}

.trailers .slide-viewer-wrapper{
    overflow-x: hidden;
}

@media (max-width: 1040px){
    .container{
        margin-top: 30px;
    }
    .title{
        width: 100%;
    }
}
@media (max-width: 780px){
    .container{
        margin-top: 10px;
    }
    .wrapper-title{
        margin-bottom: 10px;
    }
}
@media (max-width: 480px){
    .wrapper-title{
        margin-bottom: 10px;
    }
    .title-style-2{
        margin-right: 20px;
    }
}