.container{
    width: 100%;
    position: relative;
}
.wrapper-title{
    width: 100%;
    padding-left: var(--space-left);
    margin: 20px 0px 30px;
    position: relative;
}
.title{
    font-size: 1.2rem;
    font-family: "Bebas Neue";
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #dcdcdc;
}
.wrapper{
    width: 320px;
    padding: 15px 20px;
    background: #3F3F3F;
    border-radius: 15px;
    box-shadow: 3px 3px 8px #181818, -3px -3px 7px #717171;
    position: fixed;
    left: 40px;
    z-index: 500;
}
.line{
    display: block;
    width: 100%;
    height: 3px;
    background: var(--color-text-dark-background);
}
.btn-search{
    cursor: pointer;
    width: 100%;
    padding: 8px 15px;
    margin-top: 10px;
    font-size: 0.9rem;
    font-weight: 500;
    color: #9f9f9f;
    background: #353535;
    box-shadow: inset 3px 3px 6px #252525, inset -3px -3px 6px #535353;;
    outline: none;
    border: none;
    border-radius: 50px;
    transition: 0.5s;
}
#btn-search-press{
    color: #fff;
    background: var(--color-btn-ligth);
    box-shadow: 3px 3px 6px #252525, -3px -3px 6px #5f5f5f;
}


@media (max-width: 1080px){
    .wrapper{
        width: 280px;
    }
}
@media (max-width: 780px){
    .wrapper-title{
        margin: 20px 0px;
    }
    .wrapper{
        width: 240px;
        left: 20px;
    }
}
@media (max-width: 640px){
    .container{
        width: 100%;
        margin-top: 20px;
        padding: 0px 60px;
        position: relative;
        display: flex;
        flex-direction: column-reverse;
    }
    .wrapper-title{
        margin: 20px 0px;
        padding-left: 0px;
    }
    .wrapper{
        width: 100%;
        padding: 15px 20px;
        position: relative;
        left: 0px;
        box-shadow: none;
    }
}
@media (max-width: 480px){
    .container{
        padding: 0px 20px;
        margin-top: 10px;
    }
    .wrapper-title{
        margin: 10px 0px;
        padding-left: 0px;
    }
    .btn-search{
        margin-top: 5px;
    }
}