.container{
    width: 100%;
    min-height: 100vh;
    padding-top: 60px;
}

.wrapper-img{
    width: 100%;
    height: 100vh;
    position: fixed;
    left: 5vw;
    z-index: 200;
}
.wrapper-img > img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    position: relative;
    filter: brightness(0.8);
}


.container-info{
    width: 700px;
    padding: 40px 0px;
    padding-left: 80px;
    padding-top: 50vh;
    position: relative;
    z-index: 400;
    box-sizing: border-box;
}
.wrapper-title{
    width: 400px;
    margin-bottom: 30px;
}
.wrapper-title h1{
    letter-spacing: 3px;
    font-family: "Bebas Neue";
    font-size: 5.5rem;
    font-weight: 600;
    line-height: 5.5rem;
    color: var(--color-text-title-light);
}
.wrapper-fact{
    width: 100%;
    margin-top: 10px;
    display: flex;
    align-items: center;
}
.wrapper-fact span{
    font-size: 1rem;
    font-weight: 500;
    color: var(--color-text-opaque);
}
.wrapper-fact > .certification{
    padding: 3px 8px;
    margin-right: 10px;
    font-family: "Bebas Neue";
    font-weight: 500;
    font-size: 1.3rem;
    letter-spacing: 2px;
    color: var(--color-light);
    background: var(--color-text-opaque);
}
.release-date{
    padding-right: 5px;
}
.genre{
    max-width:260px;
    max-height: 48px;
    text-align: center;
    overflow: hidden;
}
.wrapper-fact > svg{
    width: 0.5rem;
    height: 0.5rem;
    margin: 10px;
    fill: var(--color-light);
}

.wrapper-rating-star{
    margin: 20px 0px;
    display: flex;
}
.wrapper-rating-star > div{
    width: 45px;
    height: 45px;
}

.wrapper-review{
    width: 100%;
    margin-top: 40px;
}
.wrapper-review > p{
    font-size: 1.2rem;
    font-weight: 400;
    letter-spacing: 1px;
    color: var(--color-light);
}