.nav-spacing{
    width: 100%;
    height: 60px;
}
#container{
    width: 100%;
    height: 60px;
    padding: 10px 30px;
    background: var(--color-dark-background);
    position: fixed;
    top: 0px;
    display: flex;
    justify-content: space-between;
    z-index: 800;
}
#wrapper-btn-pages{
    display: flex;
    position: relative;
}
.btn{
    cursor: pointer;
    max-height: 100%;
    margin-left: 30px;
    transform: scale(1);
    transition: 0.8s;
    text-decoration: none;
}
.btn:hover{
    transform: scale(1.1);
}
.btn > div{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.btn > div > svg{
    width: 1.2rem;
    height: 1.2rem;
    fill: var(--color-text-opaque);
    transition: 0.8s;
}
.btn > div > p,
.del-text{
    font-size: 1.1rem;
    font-weight: 500;
    padding-left: 10px;
    color: var(--color-text-opaque);
    transition: 0.4;
}
.del-text{
    padding: 0px;
}
.btn:hover > div > svg,
.btn:hover > div > p,
.btn:hover .del-text{
    fill: var(--color-light);
    color: var(--color-light);
}

#home-page > header{
    width: 150px;
    height: 100%;
    padding-bottom: 5px;
    margin-right: 20px;
}
#home-page > header > svg{
    width: 100%;
    height: 100%;
}

@media (max-width: 780px){
    .nav-spacing{
        height: 50px;
    }
    #container{
        height: 50px;
        padding: 8px 20px;
    }
    #home-page > header{
        width: 100px;
        margin-right: 10px;
    }
    .btn{
        margin-left: 15px;
    }
}
@media (max-width: 510px){
    .nav-spacing{
        height: 40px;
    }
    #container{
        height: 40px;
        padding: 8px 10px;
    }
    #home-page > header{
        width: 70px;
    }
    .btn{
        margin-left: 10px;
    }
    .btn > div > p{
        padding-left: 5px;
    }
    .del-text{
        display: none;
    }
    .btn > div > p{
        font-size: 1rem;
    }
    .btn > div > svg{
        width: 1rem;
        height: 1rem;
    }
}